.imageBar {
    padding: 20px;
    .videoBox {
        position: relative;
        transition: all .2s;
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
        .overlay {
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(176, 109, 42));
            transition: all .5s;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .overlay_text {
            position: absolute;
            margin-bottom: 10px;
            bottom: 0;
            h6 {
                font-family: Impact;
            }
        }
    }
}