.header {
    position: relative;
    .header-container {
        position: fixed;
        width: 100%;
        margin: auto;
        // padding: 0px 40px;
        border-bottom: 1px solid #e5e5e5;
        backdrop-filter: blur(40px);
        background: hsla(0,0%,100%,.8);
        z-index: 999;
        .logoImage {
            width: 200px;
            height: auto;
        }
        .search-box {
            margin-left: 20px;
            position: relative;
            .search-input {
                width: 300px;
                height: 50px;
                background-color: #E8E9E9;
                border: none;
                padding: 0px 2px 0px 20px;
                font-size: 18px;
                &:focus {
                    outline: none;
                }
            }
            .search-icon-box {
                position: absolute;
                right: -50px;
                background-color: #212429;
                width: 50px;
                height: 50px;
            }
        }
        .nav {
            a {
                text-decoration: none;
                color: #212429;
                height: 100%;
            }
            &-item {
                padding: 0px 8px;
                height: 100%;
                &:hover {
                    background-color: #E8E9E9;
                    border-bottom: 3px solid #212429;
                }
                &-title {
                    font-size: 18px;
                    font-weight: 700;
                    padding-left: 5px;
                }
            }
        }
        .responsive_nav {
            &_button {
                .top_line, .middle_line, .bottom_line {
                    width: 35px;
                    height: 3px;
                    background-color: #333;
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
            &_animated_button {
                .top_line {
                    transform: translate(0, 9px) rotate(-45deg);
                }              
                .middle_line {opacity: 0;}             
                .bottom_line {
                    transform: translate(0, -9px) rotate(45deg);
                }
            }
        }
    }
    .responsive_nav_menu_box {
        z-index: 990;
        width: 100%;
        top: 135px;
        left: 0;
        margin: auto;
        padding-right: 24px;
        padding-left: 24px;
        position: absolute;
        background-color: #fff;
        height: calc(100vh - 135px);
        .search-box {
            margin-top: 20px;
            position: relative;
            .search-input {
                width: 300px;
                height: 50px;
                background-color: #E8E9E9;
                border: none;
                padding: 0px 2px 0px 20px;
                font-size: 18px;
                &:focus {
                    outline: none;
                }
            }
            .search-icon-box {
                position: absolute;
                right: 0;
                background-color: #212429;
                width: 50px;
                height: 50px;
            }
        }
        .responsive_nav_menu {
            padding-top: 30px;
            a {
                text-decoration: none;
                color: #212429;
                font-size: 18px;
                font-weight: 700;
            }
            &_item {
                padding-left: 10px;
            }
        }
    }
}
